*{
    margin: 0%;
    padding: 0%;
    color: white;
    
    
}
.listasPaginas {
    display: flex;
    text-decoration: none;
    justify-content: center; /*justifica o texto no site*/
    background-image: url(/imagens/fundo.jpeg);
    font-size: 20px;
    
}
.paginaInicial {
    
    list-style-type: none;
    padding: 14px 20px;
    display: inline;
    text-decoration: none;
    
    

    
}
.quemSomos {
    padding: 14px 20px;
    border-style: none;
    
    
}
.historia {
    padding: 14px 20px;
}
.galeria {
    padding: 14px 20px;
}
.contato {
    padding: 14px 20px;
}


.listas {
    text-decoration: none;
    
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;
    background-color: black;
    padding: 16px;
    height: 500px;
    
}

.textoP {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    

    
    
}
.containerInterno {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;
    background-image: url(/imagens/fundo.jpeg);
    background-repeat: repeat,;
    border-image: none;
    padding: 16px;
    height: 300px;
    
    
}
.textDireito {
    color: black;
    text-align: center;
    padding: 50%;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*body {
    content: ""; 
    background-image: url(/imagens/fundo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
    
    /*background-repeat: no-repeat;
    background-size: cover;*/ /*Organiza automativicamente a imagem*/  
/*} */ 


.logo {
    display: flex;
    width: auto;
    height: 300px;
    
    
    cursor: pointer;
}
.direitos {
    
    margin-top: 12%;
    
    
}
a{
    text-decoration: none; /*REMOVE O O TRAÇO EMBAIXO DOS MENUS*/
}



