*{
    margin: 0%;
    padding: 0%;
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;
    background-color: black;
    padding: 16px;
    height: 500px;
}
.textoP {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    
}
.containerInterno {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;
    background-image: url(/imagens/fundo.jpeg);
    background-repeat: repeat,;
    border-image: none;
    padding: 16px;
    height: 300px;
    
}
.textDireito {
    color: black;
    text-align: center;
    padding: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

/*body {
    content: ""; 
    background-image: url(/imagens/fundo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
    
    /*background-repeat: no-repeat;
    background-size: cover;*/ /*Organiza automativicamente a imagem*/  
/*} */ 


.logo {
    display: flex;
    width: auto;
    height: 300px;
    
    
    cursor: pointer;
}





